#info-list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  .info-object {
    width: 100%;
    margin: 0px 0px;
    padding: 10px 20px 10px 40px;
    color: #bfbfbf;
    border-radius: 0;
    transition: all 0.2s ease-out 0s;

    svg {
      width: 24px;
      margin: -4px 10px 0 -32px;
      position: absolute;
    }

  }

  .info-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .info-object-info {
    //background-color: rgba(30, 43, 47, 0.5);
    background-color: rgba(30, 43, 47, 0.66);
  }

  .info-object-success {
    background-color: rgba(6, 80, 45, 0.82);
    background-color: rgba(25, 121, 90, 0.93);
  }

  .info-object-error {
    background-color: rgba(94, 7, 7, 0.82);
  }
}

@media (min-width: 600px) {
  #info-list {
    top: auto;
    bottom: 0;

    .info-object {
      max-width: 250px;
      padding: 14px 20px 12px 40px;

      svg {
        width: 24px;
        margin: -4px 10px 0 -32px;
        position: absolute;
      }

    }
  }
}